
.contenido	
	display: grid
	width: auto
	height auto
	margin-left: 40px
	grid-template-columns: 1fr 1fr 1fr
	grid-template-rows: 1fr auto
.caja
	margin-bottom: 40px
	max-width 430px
	caja-sombra()
	&__contenido
		padding: 20px
		background-color: color-claro
		span 
			color: color-secundario
			titulos(Fuente2)
		h3
			titulos(Fuente2)
			height 60px
	img
		width: 100%